@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
body{
 background: url(./img/painting-mountain-lake-with-mountain-background_188544-9126.avif) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.container{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 730px;
 margin-top: 30px;
 background: transparent;
 border: 2px solid rgba(17, 17, 17, 0.2);
 backdrop-filter: blur(4px);
 color: #fff;
 border-radius: 12px;
 padding: 30px 40px;
}
th{
 color: black;
 font-size: 25px;
 font-weight: 600;
}
.my{
 position: relative;
 top: -20px;
 left: -180px;
}
.ac{
 position: relative;
 top: -20px;
 right: -180px;

}
.form-control{
 position: relative;
 margin: 5px 0;
 margin-left: -190px;
 top: -20px;
 font-size: 15px;
 color: black;
 height: 50px;
 width: 280%;
 padding: 0 10px 0 45px;
 border: none;
 border-radius: 20px;
 outline: none;
 transition: .2s ease;
}
.btns{
 background-color: green;
 position: relative;
 width: 70px;
 height: 34px;
 left: 35px;
 top: -24px;
 border: none;
 color: white;
 cursor: pointer;
 border-radius: 10px;
 font-size: 10px;
 font-weight: bold;
}
.btn-light{
 background-color: black;
 width: 90px;
 height: 40px;
 position: relative;
 left: -190px;
 top: 30px;
 border: none;
 color: white;
 cursor: pointer;
 border-radius: 10px;
 font-size: 14px;
 font-weight: bold;
}
.btn-close{
 color: black;
}